<%= form_for(@forum_topic) do |f| %>
  <% if @forum_topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum_topic.errors.count, "error") %> prohibited this forum_topic from being saved:</h2>

      <ul>
      <% @forum_topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :forum_section_id %><br>
    <%= f.number_field :forum_section_id %>
  </div>
  <div class="field">
    <%= f.label :creator_id %><br>
    <%= f.number_field :creator_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
