<p id="notice"><%= notice %></p>

<h1>Listing Forum Topics</h1>

<table class="pretty-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Forum section</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forum_topics.each do |forum_topic| %>
      <tr>
        <td><%= forum_topic.title %></td>
        <td><%= forum_topic.forum_section_id %></td>
        <td><%= forum_topic.creator_id %></td>
        <td class="options"><%= link_to 'Show', forum_topic %></td>
        <td class="options"><%= link_to 'Edit', edit_forum_topic_path(forum_topic) %></td>
        <td class="options"><%= link_to 'Destroy', forum_topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forum topic', new_forum_topic_path %>
