<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @forum_topic.title %>
</p>

<p>
  <strong>Forum section:</strong>
  <%= @forum_topic.forum_section_id %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @forum_topic.creator_id %>
</p>

<h2>Comments</h2>
<table class="pretty-table">
  <thead>
    <th>Author id</th>
    <th>Comment</th>
    <th>Date</th>
  </thead>
  <tbody>
    <% @forum_topic.comments.each do |comment| %>
      <tr>
        <td><%= comment.author_id %></td>
        <td><%= comment.contents %></td>
        <td><%= comment.updated_at.strftime('%F %T') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Add a Comment</h2>
<%= form_for([@forum_topic, @forum_topic.comments.build]) do |f| %>
  <p>
    <%= f.label :author_id %><br/>
    <%= f.number_field :author_id %>
  </p>

  <p>
    <%= f.label :contents %><br/>
    <%= f.text_field :contents %>
  </p>

  <p><%= f.submit %></p>

<% end %>

<%= link_to 'Edit', edit_forum_topic_path(@forum_topic) %> |
<%= link_to 'Back', forum_topics_path %>
