<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>

<table>
  <thead>
    <tr>
      <th>Thread</th>
      <th>Topic</th>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Contents</th>
      <th>Is read</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.thread_id %></td>
        <td><%= message.topic %></td>
        <td><%= message.sender_id %></td>
        <td><%= message.recipient_id %></td>
        <td><%= message.contents %></td>
        <td><%= message.is_read %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
