<p id="notice"><%= notice %></p>

<p>
  <strong>Thread:</strong>
  <%= @message.thread_id %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @message.topic %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @message.sender_id %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @message.recipient_id %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @message.contents %>
</p>

<p>
  <strong>Is read:</strong>
  <%= @message.is_read %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
