<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table class="pretty-table">
  <thead>
    <tr>
      <th>Display name</th>
      <th>Password</th>
      <th>Email</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.display_name %></td>
        <td><%= user.password %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td class="options"><%= link_to 'Show', user %></td>
        <td class="options"><%= link_to 'Edit', edit_user_path(user) %></td>
        <td class="options"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
