<%= form_for(@forum_section) do |f| %>
  <% if @forum_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum_section.errors.count, "error") %> prohibited this forum_section from being saved:</h2>

      <ul>
      <% @forum_section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :minimum_required_role %><br>
    <%= f.select :minimum_required_role, %w(USER MOD ADMIN) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
