<p id="notice"><%= notice %></p>

<h1>Forum Sections</h1>

<table class="pretty-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Minimum required role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forum_sections.each do |forum_section| %>
      <tr>
        <td><%= forum_section.title %></td>
        <td><%= forum_section.minimum_required_role %></td>
        <td class="options"><%= link_to 'Show', forum_section %></td>
        <td class="options"><%= link_to 'Edit', edit_forum_section_path(forum_section) %></td>
        <td class="options"><%= link_to 'Destroy', forum_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forum section', new_forum_section_path %>
