<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @forum_section.title %>
</p>

<p>
  <strong>Minimum required role:</strong>
  <%= @forum_section.minimum_required_role %>
</p>

<%= link_to 'Edit', edit_forum_section_path(@forum_section) %> |
<%= link_to 'Back', forum_sections_path %>
