/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a, a:visited {
    color: #666;
}
a:hover,
a:visited:hover,
a:focus:hover {
    color: #007ebd;
    background: transparent;
}

body {
    background: #6DDA68;
}

div #wrapper {
    margin: auto;
    background: white;
    width: 800px;
    height: 2000px;
}

header {
    display: block;
    padding: 10px 10px 30px 10px;
}

.websiteLogo {
    float: left;
    text-decoration: none;
}

.websiteTitle {
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
    display: inline;
    line-height: 200px;
    padding-left: 20px;
}

#horNav {
    display: block;
    padding: 10px 20px 10px 10px;
    background: black;
}

#horNav a {
    text-decoration: none;
    padding-left: 20px;
    font-weight: bold;
    color: white;
}

#horNav a:hover {
    background-color: black;
    color: #007ebd;
}

main {
    padding: 10px 20px 20px 20px;
}

.pretty-table {
    background: #EEE;
    border-collapse: collapse;
    border: 2px solid #444;
}
.pretty-table tr th:not(last-child),
.pretty-table tr td:not(last-child) {
    border-right: 1px solid #444;
}
.pretty-table tr td.options {
    border-right: 0;
}
.pretty-table tbody tr td {
    padding: 2px 4px;
}

.pretty-table tbody tr:nth-child(odd) {
    background: #BBB;
}