<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">

    <header>
      <%= link_to image_tag('logo.jpg', alt: 'Logotype'), {controller: 'pages', action: 'home'}, {class: 'websiteLogo'} %>

      <%= link_to 'my site', {controller: 'pages', action: 'home'}, {class: 'websiteTitle'} %>
    </header>

    <nav id="horNav">
      <p>
        <%= link_to 'Home', {controller: 'pages', action: 'home'} %>
        <%= link_to 'Forum Sections', {controller: 'forum_sections', action: 'index'} %>
        <%= link_to 'Forum Topics', {controller: 'forum_topics', action: 'index'} %>
        <%= link_to 'Users', {controller: 'users', action: 'index'} %>
      </p>
    </nav>

    <main id="content">
      <%= yield %>
    </main>

  </div> <!-- END OF WRAPPER -->

</body>
</html>
